@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: 'Geologica', sans-serif;
}

h1 {
    padding: 0 2vw 0 2vw;
    font-size: 60px;
}

h2 {
    font-size: 25px;
}

h3 {
    padding: 0 1vw 0 1vw;
}

footer p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: white;
}

#bar {
    color: white;
    background-color: #1e1e1e;
    padding: 0 2vw 0 2vw;
}

.barInside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barInside div {
    display: flex;
    align-items: center;
}

.barInside img {
    height: 80px;
}

.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode-for-button {
    float: right;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: #303030;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

header {
    padding: 4vh 0 4vh 0;
    color: white;
    background: black;
    text-align: center;
}

header #vSuSTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    font-size: 25px;
}

header img {
    width: 150px;
}

#header-text {
    margin: 5vw;
}

footer section {
    padding: 1vh 0 1vh 0;
}

#view {
    margin: 10vh 10vw 10vh 10vw;
    display: flex;
	align-items: center;
	justify-content: center;
	gap: 3vw;
}

#view img {
    width: 800px;
}

#view p {
    font-size: 20px;
}

table {
    margin: 10vh auto 10vh auto;
    text-align: center;
    border-collapse: collapse;
    width: 60%;
}

table #features {
    text-align: left;
}

tr { 
    border: 2px solid #c2c2c2;
    border-width: 1px 0;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

td {
    padding-top:10px;
    padding-bottom:10px; 
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

.plans_buy_button {
    font-family: 'Geologica', sans-serif;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    font-size: 20px;
}

@media only screen and (max-width: 1280px) {
    #view {
        flex-direction: column;
    }
    #view img {
        width: 400px;
    }
    h1 {
        font-size: 40px;
    }
    header img {
        width: 100px;
    }
    header p {
        font-size: 15px;
    }
    h2 {
        font-size: 20px;
    }
    #view p {
        font-size: 15px;
    }
    footer p {
        font-size: 10px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1280px) {
    #view img {
        width: 600px;
    }
}

@media only screen and (max-width: 400px) {
    #view img {
        width: 350px;
    }
}

@media only screen and (max-width: 360px) {
    #view img {
        width: 250px;
    }
}